* {
	border: 1px solid black;
}

body {
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    background-color: #f8f8f8; 
    color: black;
	height: 100vh;
}

#addBookButton {
	width: 30vw;
    margin: 0 auto;
	border-radius: 5px;
	margin-bottom: 10px;
}

#addBookButton:hover {
	cursor: pointer;
	transition: background-color 0.3s ease;
	background-color: #c3c4c5;
}

/*Begin all for the form*/

form {
	display: flex;
	margin: 0 auto;
	margin-bottom: 10px;
	flex-direction: column;
	width: 40vh;
	height: 40vh;
	justify-content: left;
	background-color: white;
	border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form > div {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

form > div > input {
	width: 100%;
	padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form > div > label {
	font-weight: bold;
}

#radial > input {
	width: 10%;
}

#radial > label {
	justify-self: center;
}

button {
	padding: 10px;
    background-color: #0fc74c;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
	width: 40%;
	margin: 0 auto;
	font-weight: bold;
}

button:hover {
    background-color: #0fc74c;
	opacity: 80%;
}

#addBookDiv {
	visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

/*End all for the form*/

#shelf {
	display: grid;
	padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
	grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 1fr);
	height: 50vh;
}